/* styles.css */
#display {
    width: 800px;  /* Set width of the display window */
    height: 600px; /* Set height of the display window */
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background-color: black;  /* Background color of the display */
    
}

body {
    margin: 0;
    background-color: black;
}

.ball {
    width: 20px;   /* Diameter of the ball */
    height: 20px;
    background-color: rgb(56, 98, 238);
    border-radius: 50%;  /* Makes the div a circle */
    position: absolute;
}

#sun {
    width: 30px;   /* Diameter of the sun */
    height: 30px;
    background-color: rgb(250, 250, 249);  /* Color of the sun */
    border-radius: 50%;  /* Makes the div a circle */
    position: absolute;
    top: 50%;  /* Center horizontally in the middle */
    left: 50%; /* Center vertically in the middle */
    transform: translate(-50%, -50%);  /* Adjust position to center */
}

h1 {
    color: white; /* Color of the header text */
}
